body {
    width: 100%;
    margin: 0;
    color: black;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    color: #fff;
    height: 200px;
    position: relative;
}

.background {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: -2;
    background-image: url(pics/more-nebo-solnce-luchi-rassvet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px 0 25px;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -29px 0 0 0;
}

.changing-lang, .header-phone {
    z-index: 2;
}

.btn-lang {
    background: inherit;
    color: inherit;
    border-width: 0ch;
    cursor: pointer;
}

.btn-lang.active , .btn-lang:hover, .lang-active{
    color: #f5bb3fe7;
}

.nameHeader {
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 5px 10px #3a2e39;
    width: 300px;
    line-height: 200px;
}

.name {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.logo-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

nav {
    background-color: #3a2e39;
    color: whitesmoke;
    position: relative;
}

.main-nav, .menuToggle {
    height: 50px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0; 
    margin-block-end: 0;
    margin-block-start: 0;
}

.main-nav li {
    margin-right: 30px;
}

.menuToggle {
    display: none;
    cursor: pointer;
}

.menuToggle img {
    height: 40px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.asideHeader {
    margin-left: 0.7em;
}

.page {
    display: flex;
    margin-top: 2%;
}

.aside-news {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    flex-direction: column; 
    margin-right: 2em;
    align-self: start;
    margin-left: 1em;
}

section {
    display: block;
}

.main-inf {
    /* border: #c44900 1px dashed; */
    width: 80%;
}

.news-list .news-item{
    margin-bottom: 15px;
    border-bottom: #c78283 1px solid;
}

.new-item a:link, .header-phone a:link {
    color: white;
}

.header-phone a:hover{
    color: #f5bb3fe7;
}

.news-item a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

a:hover {
color: #c78283;
}

a:active, .header-phone a:active{
    color: rgb(255, 255, 255);
}

section.actual-news {
    padding-left: 25px;
    margin-bottom: 60px;
}

.container-news {
    position: relative;
    margin-bottom: 40px;
}

.news-visible-block {
    /* border: #074d22 1px dashed;  */
    position: relative;
    overflow: hidden;
}

.carousel-news {
    width: 3842px;
    position: relative;
    transform-style: preserve-3d;
    transition: .4s all ease;
}

.main-news-item {
    width: 100%;
    /* border: #5065e0 1px dashed; */
    width: 927.25px;
    margin-right: 33px;
    display: flex;
    float: left;
    position: relative;
}

.main-news-right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-news-img {
    margin-right: 30px;
    box-shadow: 1px 1px 5px #3a2e3927;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.teaser{
    /* height: 64px; */
    position: relative;
    overflow: hidden;
}

.teaser::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0),#f0f0f0);
    height: 50px;
}

.btn, .btn-dot {
    background: #1e555c;
    color: #fff;
    transition: .3s;
    font-weight: 500;
    cursor: pointer;
}

.solid-btn, .bordered-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 150px;
}

.main-news-nav {
    position: absolute;
    bottom: 1px;
    right: 9px;
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 489px;
}

.round-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.news-prev, .news-next, .btn-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}

.round-btn.left {
    margin-right: 10px;
} 

.round-btn img {
    width: 15px;
}

.round-btn.left img {
    transform: rotate(180deg);
}

.dots {
    position: absolute;
    bottom: 6px;
    right: 105px;
}

.bordered-btn.btn {
    background: transparent;
    border: 2px solid #1e555c;
    color: #1e555c;
    font-weight: bold;
}

.btn-dot.active span, .btn-dot:hover span, .btn:hover {
    background: #163f44;
}

.bordered-btn:hover {
    background-color: #1c4c5342;
}

.disabled .btn{
    background: #c4c5bf;
}

a {
    text-decoration: none;
}

small {
    display: block;
    font-size: 0.7em;
    color: #5c5c5c;
}

.add-inf {
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-bottom: 40px;
    margin-left: 25px;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actual-link {
    display: flex;;
    margin-bottom: 38px; 
    flex-direction: column;
    height: 115px;
    width: 255px;
    background: #e1e2e2;
    padding-left: 20px;
    padding-right: 15px;
    color: inherit;
    
}

.links-container a:hover {
    color: #59138b;
}

.links-container p {
    font-size: 0.5em;
    margin-bottom: 8px;
    transition: .3s;
}

.link-title {
    font-weight: bold;
}

p.link-desctiption {
    font-size: 0.45em;
    display: block;
    overflow: hidden;
    margin-block-start: auto;
}

footer {
    background-image: url(pics/jason-leung-479251-unsplash.jpg);
    color: #fff;
    height: 130px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;   
}

.footer-text {
    margin: 5px;
}

.main-news-text h2 {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 2.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    -moz-transition: all 0.3s 0.01s ease; 
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease ;
}

em {
    color: #c44900;
}

span {
    width: 8px;
    height: 8px;
    margin: 5px;
    background: #c4c5bf;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.stamp {
    position: sticky;
    color: palevioletred;
    text-shadow: #c78283 1px 0px 2px;
    bottom: 0px;
    right: 25px;
    align-self: flex-end;
}

.paw {
    width: 50px;
    border-radius: 200px; /* Радиус скругления */
    border: 2px solid pink; /* Параметры рамки */
    box-shadow: 0 0 3px #c78283;
    margin-bottom: -10px;
}

#menuCheck {
    display: none;
}


@media screen and (max-width: 955px) {
    
    body {
        font-size: 14px;
    }

    .main-nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 5px;
        position: absolute;
        background-color: #3a2e39;
        opacity: 97%;
        width: 100%;
        z-index: 2;
        display: none;
    }

    .main-nav li {
        margin-right: 0;
    }
    
    .menuToggle {
        display: flex;
    }

    #menuCheck:checked + .main-nav {
        display: flex;
    }

    .logo-img img {   /* от 1062px */
        max-width: 100px;
    }

    .main-news-img {
        max-width: 200px;
        /* height: auto; */
    }

    .main-news-text {
        /* font-size: 1em; */
        width: 70%;
    }

    .main-news-nav{
        position: relative;
        margin-top: 10px;
        margin-left: 9px;
    }

    .teaser {
        height: auto;
    }

    

}